/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #333;
  }
  
  /* Cabeçalho */
  h1 {
    font-size: 2.5rem;
    color: #6a4f4b;
    margin-bottom: 20px;
  }
  
  /* Seções de informações */
  p {
    font-size: 1.2rem;
    margin: 5px 0;
  }
  
  /* Estilos do componente Fogão */
  .fogao-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    margin-top: 30px;
  }
  
  .fogao-container h2 {
    font-size: 1.8rem;
    color: #6a4f4b;
  }
  
  .fogao-container select,
  .fogao-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .fogao-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .fogao-container .status {
    font-size: 1.1rem;
    color: #e67e22;
    margin-top: 10px;
  }
  
  /* Estilos do componente Game */
  .game-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    text-align: center;
    margin-top: 50px;
  }
  
  .game-container p {
    font-size: 1.2rem;
    margin: 5px 0;
  }
  